/* Estilos generales solo para HomePage */
.homePageContainer {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
  }
  
  
  
  /* Estilo del contenedor del formulario */
  .homePageContainer form {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }
  
  .homePageContainer div {
    margin-bottom: 15px;
  }
  
  .homePageContainer label {
    font-size: 14px;
    color: #333;
    display: block;
    margin-bottom: 5px;
  }
  
  .homePageContainer input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 14px;
    transition: border-color 0.3s ease;
  }
  
  .homePageContainer input:focus {
    border-color: #4CAF50;
    outline: none;
  }
  
  .homePageContainer button {
    background-color: #333;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  .homePageContainer button:hover {
    background-color: #f39c12;
  }
  
  /* Estilo del formulario en caso de error */
  .homePageContainer input:invalid {
    border-color: #e74c3c;
  }
  
  .homePageContainer input:valid {
    border-color: #2ecc71;
  }
  